.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.charts__pr,
.charts__master {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 0.75rem;
    width: 1024px;

    border: 1px solid;
}

.charts__pr {
    margin-bottom: 1rem;
}

.charts__controls {
    display: flex;
    gap: 1rem;
}

.button {
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.75;
}