.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.chart__pr,
.chart__master {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 0.75rem;
    width: 1024px;

    border: 1px solid;
}

.chart__pr {
    margin-bottom: 1rem;
}